.about-section {
    position: relative;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    padding:40;
    justify-content: space-around;
}


.about-img1 img{
    flex:1;
    height: 380px;
    width: 300px;
    position: relative;
}
.box-over {
    flex:1;
    left: -3%;
    top:60px;
    width:800px;
    padding: 40px;
    background: var(--darkgreen);
    position: relative;
}
.about-img2 img{
    flex:1;
    top: 200px;
    right: 40px;
    height: 300px;
    width: 200px;
    position: relative;
}
.box-over2 {
    flex:1;
    width:800px;
    top: 80px;
    padding: 20px 80px 40px 40px;
    background: var(--darkplum);
    position: relative;
    margin-bottom:120px;
}